.experience {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
}

.experience .subtitle {
    color: #EA527C;
}

.experience-text {
    font-size: 1.5rem;
    line-height: 1.35;
    max-width: 50ch;
    margin-bottom: 60px;
    color: #363636;
    text-align: justify;
    padding-left: 10px;
}

.experience-text strong {
    color: black;
}

.experience-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #ee4a7854;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.company-year {
    position: absolute;
    top: 20px;
    left: -80px;
    color: #EA527C;
    font-weight: bolder;
}