.experience {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experience .subtitle {
    color: #EA527C;
}

.experience-text {
    font-size: 1.6rem;
    line-height: 1.35;
    max-width: 45ch;
    margin-bottom: 60px;
    color: #363636;
}

.experience-text strong {
    color: black;
}

.company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #ee4a7854;
    margin-bottom: 20px;
    border-radius: 4px;

}