.experience {
    max-width: 1200px;
    padding: 20px 40px 100px 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
    
}

.experience .subtitle {
    color: #EA527C;
    padding: 0px 80px;
}

.experience-text {
    font-size: 1.5rem;
    line-height: 1.35;
    max-width: 50ch;
    margin-bottom: 60px;
    color: #363636;
    text-align: justify;
    padding-left: 10px;
}

.experience-text strong {
    color: black;
}

.company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #ff7ba05d;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    gap: 15px 30px;
}

.company::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#791369, #fa1b5b);
    position: absolute;
    top: 20px;
    left: -4px;
}

.company-year {
    position: absolute;
    top: 22px;
    left: -50px;
    color: #EA527C;
    font-weight: bolder;
}

.company-title {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.company-text {
    font-size: 1rem;
    line-height: 1.4;
    color: #292929;
    text-align: justify;
}

.company-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.company-skills li {
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 4px;
    background-color: azure;
    padding: 4px 10px;
}

@media (max-width:800px) {

}

@media (max-width:600px) {

}

@media (max-width:400px) {

}