@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

.header {
  max-width: 1200px;
  padding: 40px 20px; /*usa-se o padding para, caso haja alterações no background, por exemplo, o header seja incluso */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.logo img {
  width: 60px;
}

.logo p {
    font-family: 'Lobster Two', cursive;
    font-size: 1.7rem;
    color: #141414;
}

.header-menu {
  display: flex;
  flex-wrap: wrap; /* caso a vierport diminua, os links irão ficar um abaixo do outro */
  gap: 10px;
}

.header-menu a {
  font-size: 1.25rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: #141414;
  display: block;
  text-decoration: none;
}


@media (max-width: 900px) {
    .header {
        flex-direction: column;
        gap: 30px;
    }
}

