.introduction {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.introduction h1 {
    font-size: 4rem;
    line-height: 1.25;
    margin-bottom: 30px;
}