.introduction {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    align-items: center;
}

.introduction h1 {
    font-size: 4rem;
    line-height: 1.25;
    margin-bottom: 30px;
    position: relative;
}

.introduction h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 130px;
    background: url(../images/detalhe.svg) no-repeat center;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
}

.introduction img {
    border-radius: 50%;
}

@media (max-width:1000px) {
    .introduction {
        gap: 90px;
    }

    .introduction h1 {
        font-size: 3rem;
    }
}

@media (max-width:800px) {
    .introduction {
        gap: 60px;
    }

    .introduction h1 {
        font-size: 2.4rem;
    }

    .introduction h1::before {
        width: 70px;
        height: 8px;
        top: -10px;
        left: 0px;
    }
}

@media (max-width:600px) {
    .introduction {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .introduction img {
        width: 80%;
    }
}

@media (max-width:400px) {
    .introduction {
        padding: 10px;
    }

    .introduction h1 {
        font-size: 2rem;
    }
}